@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media print {
  @page {
    margin: 0;
  }
  body, html, #root, #app-root {
    height: auto !important;
    min-height: auto !important;
    overflow: visible !important;
    background: transparent !important;
  }
}
